<br/>
<br/>

<div class="card text-bg-dark mb-3" >
  <h3 class="card-header"><%= @friend.first_name + ' ' + @friend.last_name %></h3>
  <div class="card-body">
    <h4 class="card-title"><%= @friend.email %></h4> 
    <p class="card-text"><%= @friend.phone %> | <%= @friend.twitter %></p>
    <a class="btn btn-light" <%= link_to "Edit", edit_friend_path(@friend) %></a>
    <a class="btn btn-danger" <%= link_to "Delete", @friend, data: {turbo_method: :delete} %></a>
    <a class="btn btn-secondary" <%= link_to "Back to friends", friends_path %></a>
    
  </div>
</div>